body {
   background-image: url("../images/Bubbletown_002.png") !important;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center top; 
}
/*Title text*/
h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: white;
    margin-bottom: 2%;
}
/*For timer once start is clicked*/
.timer-display {
    background-color: white;
    width: 15%;
    text-align: center;
    font-weight: bold;
    color: red;
}
/*Display for question*/
.quiz-display {
    text-align: center;
    background: white;
    border: solid black 2px;
    margin-top: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*Shows answer selections*/
.button-display {
    margin-top: 2%;
    padding-bottom: 1%;
    background-color: white;
    border: solid black 2px;
}

/*Display for correct answer*/
.correct-answer {
    display: none;
    background-color: white;
    border: solid green 2px;
    color: green;
    margin-top: 1%;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/*Positioning for buttons*/
.button-display > button {
    display: block;
    margin-top: 1%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 25px;
}
/*Start button is centered*/
.start-button-display {
    text-align: center;
}
/*Hides the quiz until start button is selected*/
.display {
    display: none;
}

/*Correct counter*/
.correct-counter {
    color: white;
    font-size: bold;
    width: 5%;
    margin-bottom: 1%;
    margin-left: 1%;
    text-align: center;
}

#div-correct-counter {
    color: white;
}